.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &--playing {
    .left-panel {
      width: 0;
      padding: 0;
      overflow: hidden;
    }

    .right-panel {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;

    .left-panel {
      width: 100%;
      height: 100%;
    }

    .right-panel {
      width: 100%;
      height: 0;
      padding: 0;
      overflow: hidden;
    }

    &--playing {
      .left-panel {
        height: 0;
        width: 100%;
        padding: 0;
        overflow: hidden;
      }

      .right-panel {
        height: 100%;
        width: 100%;
        padding: 20px;
        overflow: visible;
      }
    }
  }
}
